$main-bg-color: #000000;
$shadow-color: #444444;
$light-block-color: #96c7bb;
$main-block-color: #4bf9ff;
$hover-block-color: #ff0080;
$main-text-color: #ffffff;


$screen-height: 1080px;
$block-height: 100px;

body {
    margin: 0;
    padding: 0;
}

.first-screen {
    height: $screen-height;
    background-color: $main-bg-color;
    padding: 10px;
    display: grid;
    grid-template: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: column;
    justify-content: space-between;
}

.about{
    background-color: $main-block-color;
    width: $block-height;
    height: $block-height;
    margin: 10px;
}

.about__roles {
    margin: 10px;
}

.about__roles:hover {
    transform: scale(1.2) rotate(5deg);
    transition: 1s;
    background-color: $hover-block-color;
}

.about__roles:not(:hover) {
    transition: 1s;
}

.about__choise {
    margin: 10px;
}

.about__choise:hover {
    transform: scale(1.3) rotate(-3deg);
    transition: 1s;
    background-color: $hover-block-color;
}

.about__choise:not(:hover) {
    transition: 1s;
}

.about__origin {
    margin: 10px;
}

.about__origin:hover {
    transform: scale(1.2) rotate(6deg);
    transition: 1s;
    background-color: $hover-block-color;
}

.about__origin:not(:hover) {
    transition: 1s;
}

.about__freedom{
    margin: 10px;
}

.about__freedom:hover {
    transform: scale(1.2) rotate(-5deg);
    transition: 1s;
    background-color: $hover-block-color;
}

.about__freedom:not(:hover) {
    transition: 1s;
}

.about__ecology {
    margin: 10px;
}

.about__ecology:hover {
    transform: scale(1.2) rotate(2deg);
    transition: 1s;
    background-color: $hover-block-color;
}

.about__ecology:not(:hover) {
    transition: 1s;
}

.article-list__li {
    list-style: none;
}
